<beans>
    <bean id="user" class="hl.pojo.User">
        <property name="name" value="张小凡"/>
        <property name="sex" value="男"/>
        <property name="age" value="20"/>
    </bean>
    <bean name="product" class="hl.pojo.Product">
        <property name="name" value="华为P30"/>
        <property name="type" value="手机"/>
        <property name="price" value="3800"/>
    </bean>
</beans>